@model VendorManagement.Models.ViewModels.AddContractCycleViewModel

@{ 
}
<h1>Add Contract Cycle</h1>
<hr />

<form asp-action="AddContractCycle" method="post">
    <div class="form-group mb-3">
        <label asp-for="ContractCycleId" class="control-label"></label>
        <input asp-for="ContractCycleId" class="form-control" readonly/>
        <span asp-validation-for="ContractCycleId" class="text-danger"></span>
    </div>
    <div class="form-group mb-3">
        <label asp-for="ContractCycleType" class="control-label"></label>
        <input asp-for="ContractCycleType" class="form-control" />
        <span asp-validation-for="ContractCycleType" class="text-danger"></span>
    </div>   
    <div class="form-group mb-3">
        <input type="submit" value="Add Contract Cycle" class="btn btn-primary" />
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
