<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] VendorManagement</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/VendorManagement.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/layout.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.8/css/dataTables.dataTables.min.css" />    
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    @* <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" /> *@
</head>
<body>      
    <nav class="pc-sidebar" style="background: #005b94;">
        <div id="sidebarMenu" class="navbar-wrapper">
            <div class="top-section">
                <div class="m-header">
                    <a href="#" class="b-brand text-primary" style="max-height: 70px; max-width: 180px; margin: auto auto;">
                        <img src="~/images/uRISQ Logo_White_White_TM_250R.png" alt="uRISQ Logo" class="img-fluid">
                    </a>
                </div>
            </div>
            <div class="navbar-content" style="color: white;">
                <ul class="pc-navbar">
                    <li>
                        <div class="icon-link">
                            <i class="fa-duotone fa-shield-quartered" style="font-size: 17px; margin-left: 6px;" aria-hidden="true"></i>
                            <a>THREAT SCANNING</a>
                            <i id="arrow" class="fa-regular fa-angle-down" aria-hidden="true"></i>
                        </div>
                        <ul class="pc-subnavbar">
                            <li class="subsidenav__list-item">
                                <a>Reports</a>
                            </li>
                            <li class="subsidenav__list-item">
                                <a>Multi-IP Scan Settings</a>
                            </li>
                            <li class="subsidenav__list-item">
                                <a>Settings</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <div class="icon-link">
                            <i class="fa-duotone fa-book" style="font-size: 17px; margin-left: 6px;" aria-hidden="true"></i>
                            <a>POLICY CENTER</a>
                            <i id="arrow" class="fa-regular fa-angle-down" aria-hidden="true"></i>
                        </div>
                        <ul class="pc-subnavbar">
                            <li class="subsidenav__list-item">
                                <a>Resource Library</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <div class="icon-link">
                            <i class="fa-duotone fa-lock-keyhole-open" style="font-size: 17px; margin-left: 6px;" aria-hidden="true"></i>
                            <a>BREACH SUPPORT</a>
                            <i id="arrow" class="fa-regular fa-angle-down" aria-hidden="true"></i>
                        </div>
                        <ul class="pc-subnavbar">
                            <li class="subsidenav__list-item">
                                <a>Submit Request</a>
                            </li>
                            <li class="subsidenav__list-item">
                                <a>
                                    or call the Breach Support
                                    Hotline: 57677776665
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <div class="icon-link">
                            <i class="fa-duotone fa-pen-to-square" style="font-size: 17px; margin-left: 6px;" aria-hidden="true"></i>
                            <a>ACCESS REQUEST</a>
                            <i id="arrow" class="fa-regular fa-angle-down" aria-hidden="true"></i>
                        </div>
                        <ul class="pc-subnavbar">
                            <li class="subsidenav__list-item">
                                <a>Request Submissions</a>
                            </li>
                            <li class="subsidenav__list-item">
                                <a>Add New Request</a>
                            </li>
                            <li class="subsidenav__list-item">
                                <a>Settings</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <div class="icon-link">
                            <i class="fa-regular fa-v" style="font-size: 17px; margin-left: 6px;" aria-hidden="true"></i>
                            <span>VENDOR MANAGEMENT</span>
                            <i id="arrow" class="fa-regular fa-angle-down" aria-hidden="true"></i>
                        </div>
                        <ul class="pc-subnavbar">
                            <li class="subsidenav__list-item">
                                <a style="color:white;" asp-controller="VendorManagement" asp-action="Dashboard">Dashboard</a>
                            </li>
                            <li class="subsidenav__list-item">
                                <a style="color:white;" asp-controller="VendorManagement" asp-action="Vendors">Vendors</a>
                            </li>
                            <li class="subsidenav__list-item">
                                <a style="color:white;" asp-controller="Assessments" asp-action="Index">Assessments</a>
                            </li>                            
                            <li class="subsidenav__list-item">
                                <a style="color:white;" asp-controller="Assessments" asp-action="CreateAssessment">Create Assessment</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <div class="icon-link">
                            <i class="fa-duotone fa-clapperboard-play" style="font-size: 17px; margin-left: 6px;" aria-hidden="true"></i>
                            <a>TRAINING</a>
                            <i id="arrow" class="fa-regular fa-angle-down" aria-hidden="true"></i>
                        </div>
                        <ul class="pc-subnavbar">
                            <li class="subsidenav__list-item">
                                <a>Video Library</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <div class="icon-link">
                            <i class="fa-duotone fa-user" style="font-size: 17px; margin-left: 6px;" aria-hidden="true"></i>
                            <a>ACCOUNT</a>
                            <i id="arrow" class="fa-regular fa-angle-down" aria-hidden="true"></i>
                        </div>
                        <ul class="pc-subnavbar">
                            <li class="subsidenav__list-item">
                                <a>Profile</a>
                            </li>
                            <li class="subsidenav__list-item">
                                <a>Billing</a>
                            </li>
                            <li class="subsidenav__list-item">
                                <a>Sign Out</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <div class="icon-link">
                            <i class="fa-duotone fa-users" style="font-size: 17px; margin-left: 2px;" aria-hidden="true"></i>
                            <a>USER MANAGEMENT</a>
                            <i id="arrow" class="fa-regular fa-angle-down" aria-hidden="true"></i>
                        </div>
                        <ul class="pc-subnavbar">
                            <li class="subsidenav__list-item">
                                <a>User Administration</a>
                            </li>
                            <li class="subsidenav__list-item">
                                <a>Add User</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <div class="icon-link">
                            <i class="fa-duotone fa-handshake" style="font-size: 17px; margin-left: 6px;" aria-hidden="true"></i>
                            <a>AUTOBOARDING</a>
                            <i id="arrow" class="fa-regular fa-angle-down" aria-hidden="true"></i>
                        </div>
                        <ul class="pc-subnavbar sub-menu">
                            <li class="subsidenav__list-item">
                                <a>Send Benefit Emails</a>
                            </li>
                            <li class="subsidenav__list-item">
                                <a>Reporting</a>
                            </li>
                            <li id="sidebarMenu" class="subsidenav__list-item-submenu">
                                <div class="icon-link-submenu" style="padding: 15px 15px 15px 0;">
                                    <a>PREVIEW EMAILS</a>
                                    <i id="arrow" class="fa-regular fa-angle-down" aria-hidden="true"></i>
                                </div>
                                <ul class="pc-subnavbar sub-menu">
                                    <li class="subsidenav__list-item" style="padding: 10px 0 10px 15px;">
                                        <a>Introduction</a>
                                    </li>
                                    <li class="subsidenav__list-item" style="padding: 10px 0 10px 15px;">
                                        <a>Final</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <div class="icon-link">
                            <i class="fa-thin fa-user-secret" style="font-size: 17px; margin-left: 6px;" aria-hidden="true"></i>
                            <a>ADMINISTRATION</a>
                            <i id="arrow" class="fa-regular fa-angle-down" aria-hidden="true"></i>
                        </div>
                        <ul class="pc-subnavbar">
                            <li class="subsidenav__list-item">
                                <a style="color:white;" asp-area="" asp-controller="VendorType" asp-action="GetAllVendorTypes">All Vendor Types</a>
                            </li>
                            <li class="subsidenav__list-item">
                                <a style="color:white;" asp-area="" asp-controller="VendorType" asp-action="AddVendorType">Add Vendor Type</a>
                            </li>                          
                            <li class="subsidenav__list-item">
                                <a style="color:white;" asp-area="" asp-controller="Vendor" asp-action="GetAllVendors">All Vendors</a>
                            </li>
                            <li class="subsidenav__list-item">
                                <a style="color:white;" asp-area="" asp-controller="Vendor" asp-action="AddVendor">Add Vendor</a>
                            </li>
                            <li class="subsidenav__list-item">
                                <a style="color:white;" asp-area="" asp-controller="ContractCycle" asp-action="GetAllContractCycles">All Contract Cycles</a>
                            </li>
                            <li class="subsidenav__list-item">
                                <a style="color:white;" asp-area="" asp-controller="ContractCycle" asp-action="AddContractCycle">Add Contract Cycles</a>
                            </li>
                            <li class="subsidenav__list-item">
                                <a style="color:white;" asp-area="" asp-controller="AuditCycle" asp-action="GetAllAuditCycles">All Audit Cycles</a>
                            </li>
                            <li class="subsidenav__list-item">
                                <a style="color:white;" asp-area="" asp-controller="AuditCycle" asp-action="AddAuditCycle">Add Audit Cycles</a>
                            </li>
                            <li class="subsidenav__list-item">
                                <a style="color:white;" asp-area="" asp-controller="CriticalityLevel" asp-action="GetAllCriticalityLevels">All Criticality Levels</a>
                            </li>
                            <li class="subsidenav__list-item">
                                <a style="color:white;" asp-area="" asp-controller="CriticalityLevel" asp-action="AddCriticalityLevel">Add Criticality Level</a>
                            </li>                                                    
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="bottom-section">               
                <div class="py-4">
                    <div style="text-align: center; font-size: 14px; color: white;">
                        powered by
                    </div>
                    <div style="text-align: center;">
                        <img class="img-fluid" src="~/images/csr_footer_logo.png">
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <header class="pc-header" style="background: #005b94; min-height: 45px; height: 45px;">
        <div class="header-wrapper">
            <a id="amburgertrigger" style="cursor: pointer; text-decoration: none;" title="Open/Close Menu">
                <i id="amburger" class="fa-regular fa-bars" style="color: white; font-size: 23px; padding-top: 11px; " aria-hidden="true"></i>
            </a>
            <a style="margin-top: 6px; cursor: default; pointer-events: none; text-decoration: none;">
                <span id="resellel" style="color: white; font-size: 23px; cursor:default; pointer-events: none;">&nbsp;&nbsp;Chester Cheetah</span>
            </a>
            <div class="ms-auto">
                <span>
                    <i class="fa fa-question-circle" title="Help Center" style="cursor: pointer; font-size: 20px; padding-top: 12px; color: white;" onclick="window.open('https://help.csrcyberprivacy.net/', '_blank');" aria-hidden="true"></i><span class="sr-only">Help Center</span>
                    <i>&nbsp;&nbsp;</i>
                    <i class="fa fa-user-circle" id="useraccounticon" title="" style="cursor: pointer; font-size: 20px; padding-top: 12px; color: white;" href="#" data-trigger="hover" data-toggle="popover" data-content="<ul id='acct-popover-content' style='list-style: none; background-color: #005b94; color: white; margin: 0 0 0 0;'><li><a href='https://urisq-development2.azurewebsites.net/Manage/MyAccount'>Profile Settings</a></li><li><a href='https://urisq-development2.azurewebsites.net/Account/LogOff'>Sign Out</a></li></ul> b-x3j3vhp4j6" aria-hidden="true" data-original-title="User Settings"></i><span class="sr-only">User Settings</span>
                </span>
            </div>
        </div>
    </header>
    <main role="main" class="pc-container">
        @RenderBody()
    </main>
    <footer class="pc-footer" style=" margin-top: 0; background-color: white;">
        <div class="footer-wrapper container-fluid">
            <div class="row">
                <div class="col-sm-6 my-1">
                    <p class="m-0">
                        © 2024 CSR. All rights reserved. CSR refers to the corporation CSR Privacy Solutions, Inc. and its products.
                    </p>
                </div>
                <div class="col-sm-6 ms-auto my-1">
                    <ul class="list-inline footer-link mb-0 justify-content-sm-end d-flex">
                        <li class="list-inline-item">
                            <a href="https://urisq-development2.azurewebsites.net/Account/PrivacyPolicy" target="_blank">
                                Privacy Notice
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://urisq-development2.azurewebsites.net/Account/EndUserLicenseAgreement" target="_blank">
                                End User License Agreement
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://urisq-development2.azurewebsites.net/Account/TrustCenter" target="_blank">
                                Trust Center
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://help.csrcyberprivacy.net/portal/en/kb/urisqplus" target="_blank">
                                Support Center
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Get the current URL path
            var currentPath = window.location.pathname;

            // Find all sidebar links
            var links = document.querySelectorAll('.pc-subnavbar .subsidenav__list-item a');

            // Loop through the links and add 'active' class to the matching link
            links.forEach(function (link) {
                var href = link.getAttribute('href');              ;
                if (currentPath === href) {
                    link.parentElement.classList.add('active');
                    link.closest('.pc-subnavbar').style.display = 'block';
                }
            });
        });

        document.getElementById('sidebarMenu').addEventListener('click', function (event) {
            const target = event.target;
            if (target.classList.contains('icon-link') || target.closest('.icon-link')) {
                const iconLink = target.closest('.icon-link');
                const subMenu = iconLink.nextElementSibling;
                const arrowIcon = iconLink.querySelector('.fa-angle-down');
                const allSubMenus = document.querySelectorAll('.pc-subnavbar');
                const allArrows = document.querySelectorAll('.fa-angle-down');

                // Check if the clicked submenu is already open
                const isSubMenuOpen = subMenu.style.display === 'block';

                // Close all submenus and reset arrows
                allSubMenus.forEach(menu => {
                    menu.style.display = 'none';
                });
                allArrows.forEach(icon => {
                    icon.classList.remove('fa-angle-up');
                });

                // Toggle the clicked submenu
                if (!isSubMenuOpen) {
                    subMenu.style.display = 'block';
                    arrowIcon.classList.add('fa-angle-up');
                }
            }
        });
    </script>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>           
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>    
    <script src="https://kit.fontawesome.com/5655ceefe4.js" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/2.0.8/js/dataTables.min.js"></script>  
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
